.container {
    background-color: #e0e0de;
    height: 20px;
    border-radius: 50px;
    width: 100%;
}

.completed-bar {
    text-align: right;
    background-color: blue;
    border-radius: inherit;
    color: white;
    font-weight: bold;
    transition: width 1s ease-in-out;
}

.completed-label {
    /* todo difference between adding padding and margin */
    padding: 5px;
    /* margin: 5px; */
}